<% var _done='' %>
<% if (done) _done = 'checked' %>
<input type="checkbox" name="done" class="done" <%= _done=_done %>> &nbsp;
<span class="title">
	<%= title %>
</span>
<span class="delete">X</span>